<!doctype html>
@using System.Globalization;
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Display</title>
        <style>
            body{
                text-align: center;
                font-family: Arial;
            }
            h2{
                margin: 5px;
            }
            div{
                border: 2px solid black;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <h3>The current time and date:</h3>
        @{
            DateTime currTime = DateTime.Now;
            <div>
                <h2>@currTime.ToString("MMM d, yyyy")</h2>
                <h2>@currTime.ToString("h:m tt")</h2>
            </div>
        }
    </body>
</html>